<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="style.css" />
    </head>
    
<body>
<h1>Welcome to <i class="fas fa-book"></i>Bookers!</h1>


 </body>
</html>